@import "./index.css";
#root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* max-width: 1280px; */
  margin: 0;
  /* margin: 0; */
  padding: 0rem;
  text-align: center;
}
#root {
  min-height: 100%;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* background-color: var(--bg-clr-primary); */
}

body {
  /* instead of html */

  /* global variables */
  --bg-clr-primary: #292f36;
  --bg-clr-secondary: #323e4c;
  --clr-font-white: #eff6ee;
  --clr-font-dark: #1b2025;
  --clr-green: #10a219;
  --bg-clr-hero: #cdcfda;
  --clr-red-1: #ff6b6b;
  --clr-red-2: #f2404c;
  --clr-btn-selected-purple: #27263f;
  /**/
  background-color: var(--bg-clr-primary);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.open-popup-btn {
  display: flex;
  border-radius: 15px;
  border: 5px solid;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-clr-primary);
  border-color: var(--bg-clr-secondary);
  cursor: pointer;

  padding: 0.5rem 0.75rem;
}
.open-popup-btn:hover {
  background-color: var(--clr-btn-selected-purple);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.app-container {
  width: 100%;
}

.main-content {
  max-width: 600px;
  box-sizing: border-box;
  text-align: left;
}

.input-wrapper {
  margin-top: 0;
  margin-left: 1rem;
  width: 100%;
}

/* .results-and-graph {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
} */

.result-text {
  font-size: 1.7rem;
  color: var(--clr-font-white);
  text-align: left;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.map-box {
  display: flex;
  gap: 1rem;
  flex: 2 1 400px;
  min-width: 300px;
  max-height: 600px;
}

.ip-list {
  text-align: left;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--clr-font-white);
}
.ip-list a {
  text-decoration: underline;
}

/* App.css */
.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.app-content {
  flex: 1;
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
  background: linear-gradient(
    to bottom,
    var(--bg-primary),
    var(--bg-secondary)
  );
  margin-left: 55px;
  transition: margin-left 0.2s ease;
  /* Ensure no horizontal scrollbar */
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .app-content {
    margin-left: 40px;
  }
}

.app-layout {
  display: flex;
  height: 100vh;
}

@media (max-width: 1599px) {
  html,
  body {
    font-size: 0.95rem;
  }
}
