# Python
__pycache__/
*.py[cod]
*.egg-info/
server/.venv/
#/server/app/db/config.py
/server/app/db/.env

# FastAPI logs
*.log

# PyCharm
.idea/

# VSCode settings
.vscode/


# Docker
*.env
*.DS_Store


# OS specific
Thumbs.db
.DS_Store

# pipeline
run_pipeline.sh
.cache/
.coverage
venv/
