# Python
__pycache__/
*.py[cod]
*.egg-info/
server/.venv/
/server/app/config.py

# FastAPI logs
*.log

# PyCharm
.idea/

# VSCode settings
.vscode/


# Docker
*.env
*.DS_Store


# OS specific
Thumbs.db
.DS_Store

