# Python
__pycache__/
*.py[cod]
*.egg-info/
server/.venv/
#/server/app/db/config.py
/.env

client/src/.env

# FastAPI logs
*.log

# PyCharm
.idea/

# VSCode settings
.vscode/


# Docker
*.env
*.DS_Store


# OS specific
Thumbs.db
.DS_Store

# pipeline
run_pipeline.sh
.cache/
.coverage
venv/

#MaxMind db
/server/GeoLite2-City.mmdb
/server/GeoLite2-ASN.mmdb
/server/GeoLite2-Country.mmdb
