@import '../index.css';

.compare-tab p, label {
    color: var(--clr-font-white);
}
.compare-input {
width: fit-content;
}
.compare-tab  p {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    padding: 1rem;
}

label {
    font-size: 1.25rem;
    font-weight: 500;
}

.compare-tab form {
    padding: 1rem;
    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1.25rem;
}

.compare-tab input {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: var(--clr-font-white);
    border-radius: 5px;

    flex-grow: 1;
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
  
    color: var(--clr-font-dark);
    outline: none;
  }
.compare-tab select {
  display: flex;
  align-items: center;
  background-color: var(--clr-font-white);
  border-radius: 5px;

  flex-grow: 1;
  border: none;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  
  color: var(--clr-font-dark);
  outline: none;
}


  .compare-tab input::placeholder {
    color: var(--clr-input-placeholder);
  }

  .label-and-input {
    display: flex;
    text-wrap: nowrap;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
    width: min(50%, 250px);
  }

  .compare-tab {
    display: flex;
    align-items: flex-start;
  }

  .compare-tab .submit-btn {
    color: var(--clr-font-white);
    background-color: var(--clr-red-2);
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    border: none;
  }

  .submit-btn:hover {
    background-color: var(--clr-red-3);
  }
   
  p.error {
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
    color: var(--clr-red-1);
  }

  .compare-tab .submit-btn:disabled {
    opacity: 0.7;
    background-color: var(--clr-red-2);
    cursor: auto;
  }
