@import "../index.css";

.popup {
  position: fixed;
  inset: 0;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.7; /* Adjust darkness level */
  z-index: -1;
}
.popup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-secondary);
  padding: 2rem 4rem;
  gap: 2rem;
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  font-size: 1.2rem;
  max-width: min(550px, 90%);
}

.popup-card > h2 {
  color: var(--text-white);
}

.popup-card > p {
  color: var(--text-white);
  font-weight: 600;
}

.popup-card > button {
  background-color: var(--bg-primary);
  border-radius: var(--radius);
  border: 1px solid var(--border-color) !important;
  font-size: 1.2rem;
  margin-top: 1rem;
  border: none;
  box-shadow: var(--shadow);
  color: var(--text-white);
}

.popup-card > button:hover {
  background-color: var(--clr-btn-selected-purple);
}

@media (max-width: 480px) {
  .popup-card {
    padding: 1rem 2rem;
    text-align: left;
    gap: 1rem;
  }

  .popup-card > p {
    font-size: 1rem;
  }

  .popup-card > button {
    font-size: 1rem;
    margin-top: 0rem;
  }
}