@import '../index.css';

*, *::before, *::after {
    box-sizing: border-box;
}
  

  * {
    margin: 0;
}
.download-btn {
    padding: .5rem .75rem;
    color: var(--clr-font-white);
    background-color: transparent;
    border: 4px solid var(--bg-clr-secondary);
    border-radius: 15px;
}

.download-btn:focus, .download-btn:hover {
    background-color: var(--clr-btn-selected-purple);
}