@import '../index.css';

*, *::before, *::after {
    box-sizing: border-box;
}


  * {
    margin: 0;
}
.download-btn {
    padding: .5rem .75rem;
    color: var(--text-white);
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.download-btn:focus, .download-btn:hover {
    background-color: var(--clr-btn-selected-purple);
}