@import '../index.css';

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: max(3.5rem, 4vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15, 23, 42, 0.8); /* var(--bg-primary) with 80% opacity */
    /* background: var(--bg-clr-header); */
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    padding: 0.75rem 1rem;
    position: sticky;
    top: 0;
    z-index: 3;
    border-bottom: 1px solid var(--border-color);
    /* border-radius: 0 0 var(--radius) var(--radius); */
    box-shadow: var(--shadow);
}

.text-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text-header > h1 {
    /* color: var(--clr-font-dark); */
    color: var(--text-white);
    font-size: clamp(1.5rem, 2.3vw, 2.0rem);
    /* font-size: 2.5rem; */
    line-height: 1.2;
}

.text-header > p {
    /* color: var(--clr-font-dark); */
    color: var(--text-white);
    font-weight: 200;
    font-size: clamp(0.8rem, 1.2vw, 1.2rem);
    text-align: left;
}

.navbar {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.navbar a {
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    font-weight: bold;
    /* color: var(--clr-font-dark); */
    color: var(--text-white);
    display: flex;
    align-items: center;
}

.navbar .img-and-text {
    display: flex;
    padding-inline: .5rem;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.navbar .img-and-text img {
    height: clamp(1.5rem, 2.5vw, 2rem);
    width: auto;
    object-fit: contain;
    align-self: center;
}

.ntpinfo-logo {
    height: 5rem;
    width: auto;
    object-fit: contain;
    margin-right: -10%;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .header {
        padding: 0.75rem 1rem;
    }

    .navbar {
        gap: 2rem;
    }

    .navbar a:not(.img-and-text a:last-child) {
        display: none;
    }

    .navbar .img-and-text {
        gap: 0.5rem;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding: 0.5rem;
        height: max(3rem, 3vw);
    }

    .text-header > h1 {
        font-size: clamp(1.2rem, 1.8vw, 1.5rem);
    }

    .text-header > p {
        font-size: clamp(0.7rem, 1vw, 0.9rem);
    }

    .navbar {
        gap: 1rem;
    }

    .ntpinfo-logo {
        height: 3rem;
    }

    .text-header {
        gap: 0.5rem;
    }
}