:root {
    line-height: 1.5;
    /* global variables */
  --bg-clr-primary: #292f36;
  --bg-clr-secondary: #323E4C;
  --clr-font-white: #eff6ee;
  --clr-font-dark: #1B2025;
  --clr-green: #10A219;
  --bg-clr-hero: #CDCFDA;
  --clr-red-1: #ff6b6b;
  --clr-red-2: #F2404C;
  --clr-btn-selected-purple: #27263F;
}
*, *::before, *::after {
    box-sizing: border-box;
  }


  * {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  .hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-clr-hero);
    padding: 1rem 2rem;
  }

  .hero p, .hero h1 {
    color: var(--clr-font-dark);
  }

  .text-hero > p {
    color: var(--clr-font-dark);
    font-weight: 200;
    font-size: 1.5rem;
    text-align: left;
  }
   .navbar {
    display: flex;
    gap: 5rem;
  }

  .navbar a {
    font-size: 2rem;
    font-weight: bold;
    color: var(--clr-font-dark);
    /* border: 1px solid red; */
  }

  .navbar .img-and-text {
    display: flex;
    padding-inline: .5rem;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    /* border: 1px solid red; */
  }

  .navbar .img-and-text img {
    translate: 0px 4px;
  }
