@import '../index.css';

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid var(--clr-input-placeholder-dark);
    border-top-color: var(--clr-red-2);
    border-radius: 50%; 
    animation: loading 0.75s ease infinite;
}

.loading-spinner.small {
    scale: 0.75;
}

.loading-spinner.large {
    scale: 1.5;
    border-width: 6px;
}

@keyframes loading {
    
    from {
        rotate: 0deg;
    }

    to {
        rotate: 1turn;
    }
}