@import '../index.css';

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--clr-font-white);
    border-radius: 1rem;
    /* padding: 0.25rem; */
    padding-right: 0.3rem;
    gap: 0.5rem;
  }

  .search-bar input {
    flex-grow: 1;
    border: none;
    border-radius: 1rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    background-color: transparent;
    color: var(--clr-font-dark);
    outline: none;
  }

  .search-bar input::placeholder {
    color: var(--clr-search-placeholder);
  }

  .search-bar button {
    background-color: var(--clr-red-2);
    color: white;
    border: none;
    border-radius: 0.75rem;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .search-bar button:hover {
    background-color: var(--clr-red-3);
  }

  .search-section {
    /* position: relative;
    margin-top: 6rem;
    padding-left: 2rem;
    max-width: 600px; */

    width: 100%;
  }


  .search-bar-text {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--clr-font-white);
    margin-bottom: 0.5rem;
    text-align: left;
    /* border: 1px solid red; */
    width: 100%;
  }

  .jitter-options {
    
    padding: .7rem;
    display: flex;
    align-items: center;
    color: var(--clr-font-white);
    gap: 10px;
  }
  
  #measurements-no-box  {
    margin-top: 2px;
  }