@import '../index.css';

body {
    color: var(--clr-font-white)
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    vertical-align: middle;
    margin-right: 6px;
    display: inline-block;
}

.map-container{
    padding: '15px';
    position: relative;
    z-index: 1;
    margin-left: 2%;
    margin-right: 2%;
}

.leaflet-container {
    z-index: 1;
    background: #262626 !important;
    border-radius: var(--radius) !important;
    border: 1px solid var(--border-color) !important;
}

.leaflet-control {
    z-index: 2;
}

.leaflet-legend {
    background: rgba(0, 0, 0, 0.25) !important;
    border-radius: 6px !important;
    -webkit-backdrop-filter: blur(0.75px) !important;
    backdrop-filter: blur(0.75px) !important;
    margin-bottom: 5px !important;
    margin-left: 5px !important;
}

.leaflet-legend-item {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  white-space: nowrap !important;
}

.leaflet-legend-item img {
  width: 25px !important;
  height: 25px !important;
  object-fit: contain !important;
}

@media screen and (max-width: 1000px) {
    .leaflet-legend {
        scale: 0.8 !important;
        transform: translateX(-18px) translateY(35px) !important;
    }
}