@import '../index.css';

body {
    color: var(--clr-font-white)
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    vertical-align: middle;
    margin-right: 6px;
    display: inline-block;
}

.map-container{
    padding: '15px';
    position: relative;
    z-index: 1;
    margin-left: 2%;
    margin-right: 2%;
}

.leaflet-container {
    z-index: 1;
    background: #262626 !important;
    border-radius: var(--radius) !important;
    border: 1px solid var(--border-color) !important;
}

.leaflet-control {
    z-index: 2;
}

.leaflet-legend-item {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  white-space: nowrap !important;
}

.leaflet-legend-item img {
  width: 30px !important;
  height: 30px !important;
  object-fit: contain !important;
}